@import '../../../scss/variables';

.header__contact{
    padding: $header-padding-top $header-padding-right $header-padding-bottom $header-padding-left;
    display: flex;
    justify-content: space-between;
    font-family: $inter;
    font-size: $header-contact-p;

    img{
        width: 2rem;
        height: 2rem;
    }

    & .wrapper{
        display: flex;
        gap: 4rem;

        & .decoration-line{
            width: 1px;
            height: 100%;
            background-color: $lightGray;
        }

        & .header__contact__address{
            display: flex;
            gap: 1rem;
            color: $gray;
        }

        & .header__contact__schedule{
            display: flex;
            gap: 1rem;
            color: $gray;
        }
    }

    & .header__contact__phone{
        display: flex;
        gap: 1rem;
        color: $gray;
    }
}