@import '../../../scss/variables';

.services{
    padding-left: $services-padding-left;
    padding-right: $services-padding-right;
    padding-bottom: $services-padding-bottom;
    font-family: $inter;

    h2{
        font-size: $services-h2 ;
        text-align: center;
        color: $black;
    }

    p{
        text-align: center;
        color: gray;
        font-family:$inter;
        font-size: $services-paragraph;
        padding: $service-card-p-padding-top 0 $service-card-p-padding-bottom 0;

    }

    .services__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap:2rem;
    }
}