/*****************
 * FONT FAMILIES *
 *****************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
$inter : 'Inter';



/**************
 * FONT SIZES *
 **************/

 $hero-h1: 6rem;
 $hero-p: 1.8rem;
 $nav-link : 1.6rem;
 $header-contact-p : 1.4rem;
 $button: 1.4rem;



/****************
 * FONT WEIGHTS *
 ****************/

$thin:100;
$extraLight:200;
$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$boldest:900;