@import './colors';
@import './breakpoints';
@import './typography';

/************
 * PADDINGS *
 ************/

 $header-padding-left: 15rem;
 $header-padding-right: 15rem;
 $header-padding-top: 2rem;
 $header-padding-bottom: 2rem;

 $nav-padding-left: 15rem;
 $nav-padding-right: 15rem;
 $nav-padding-top: 2rem;
 $nav-padding-bottom: 2rem;


/***********
 * BORDERS *
 ***********/

 $button-border-radius: 0.8rem;